.nutbam {
    background-color: #31a2fa;
    color: white;
    border: 2px solid #31a2fa;
    padding: 5px 30px;
    border-radius: 5px;
}
.nutbam:hover{
    background-color: white;
    color: #31a2fa;
    border: 2px solid #31a2fa;
}
.nutbamred {
    background-color: #fa3b3b;
    color: white;
    border: 2px solid #fa3b3b;
    padding: 5px 30px;
    border-radius: 5px;
}
.nutbamred:hover{
    background-color: white;
    color: #fa3b3b;
    border: 2px solid #fa3b3b;
}
.nuteditThongTin{
    text-align: right;
}
.nutbamgreen{
    background-color: #2aa72f;
    color: white;
    border: 2px solid #2aa72f;
    padding: 5px 30px;
    border-radius: 5px;
}
.nutbamgreen:hover{
    background-color: white;
    color: #2aa72f;
    border: 2px solid #2aa72f;
}